
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 14pt;
}

html, body, main {
    background-color: #fed;
    margin: 0;
    padding: 0;
}

body, button, input, table, tr, td {
    font-size: inherit;
    font-weight: inherit;
}

section {
    max-width: 1100px;
}

main, main header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/**********************************************************************/
/* Headings */

strong, h1, h2, h3, h4, th, thead td {
    font-weight: bolder;
}

h1, h2, h3, h4, section header {
    margin: 0.5em 0;
}

section header > * {
    margin: 0;
}


/**********************************************************************/
/* Form inputs, buttons, links, etc. */

input, button, .button, .sentence {
    background-color: white;
}

input, button, .button {
    margin: 0.3em;
    padding: 0.3em 1em;
    display: inline-block;
    text-decoration: none;
}

input, button, .button, .sentence, .popup, .score,
.swal-modal, .swal-button, #lessonslist > *
{
    border: 1px solid #aaa;
}

button, .button, .sentence, .popup, input,
.clickable, button, label, .word, .space,
.swal-modal, .swal-button, #lessonslist > *
{
    border-radius: 10px;
}

a:hover, label[for]:hover {
    cursor: pointer;
    opacity: 0.5;
}

.clickable:hover, button:hover {
    cursor: pointer;
    background-color: #eee;
    background-color: rgba(220,220,220,0.7);
}


/**********************************************************************/
/* Main headers and footers */

main > header nav > * {
    text-decoration: none;
    white-space: nowrap;
    margin-left: 0.5em;
}

main > header > *, main > header xxnav > * {
    line-height: 2;
}

main > header, main > footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main > header {
    margin-bottom: 2em;
}

main > footer {
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: bottom;
}

main > header .change-language a {
    margin: 0 0.1em;
}

main > header > *, main > footer > * {
    text-align: center;
    margin: 0 0.5em;
}

main > header > *:first-child, main > footer > *:first-child {
    text-align: left;
}

main > header > *:last-child, main > footer > *:last-child {
    text-align: right;
}


/**********************************************************************/
/* Navigation icons: Currently using font-awesome, but easy to replace */
/* https://fontawesome.com/icons */

nav { font-family:"Font Awesome 5 Free" }
nav [data-popup="lesson.help"  ]::before { content: "\f128" } /* fa-question */
nav [data-popup="exercise.help"]::before { content: "\f128" } /* fa-question */
nav [data-page="pageHighScores"]::before { content: "\f091" } /* fa-trophy */
nav [data-page="pageSettings"  ]::before { content: "\f085" } /* fa-cogs */
nav [data-page="pageLogin"     ]::before { content: "\f2f5" } /* fa-sign-out-alt */
nav [data-page="pageLessons"   ]::before { content: "\f00d" } /* fa-times */

/* checkbox for making the spaces between words larger */
/* the checkbox itself is hidden, but its label is changed when the box is checked */
/* this requires that the checkbox is put before both the label and the sentences in the html hierarchy */
#wide-spaces { display: none }
#wide-spaces:checked ~ .exercise .space,
#wide-spaces:checked ~ .exercise .invisible { padding: 0 0.5em }
#wide-spaces:checked ~ header label[for="wide-spaces"]::before {
    content: "\f061\f060"; /* fa-arrow-right + fa-arrow-left */
    color: #00a;
}
label[for="wide-spaces"]::before {
    content: "\f060\f061"; /* fa-arrow-left + fa-arrow-right */
}

/* Unicode/HTML alternatives:
   pageHighScores: U+2655 WHITE CHESS QUEEN
   pageSettings:   U+2699 GEAR
   pageLogin:      &times;
   pageLessons:    &times;
   wide-spaces:    U+21E4 + U+21E5 Leftwards Arrow to Bar + Rightwards Arrow to Bar
*/


/**********************************************************************/
/* Tables */

table {
    margin-left: auto; 
    margin-right: auto;
}

tr {
    vertical-align: center;
}

td, th {
    text-align: left;
}

form th {
    text-align: right;
}


/**********************************************************************/
/* Assorted elements */

img {
    vertical-align: middle;
}

hr {
    border: 1px solid black;
    width: 100%;
}

progress {
    width: 4em;
}

.vertical-separator {
    min-height: 1.5em;
}

/* Apparently, elements with "hidden" attribute are not always hidden:
   https://bugs.chromium.org/p/chromium/issues/detail?id=179220 
*/

[hidden] {
    display: none;
}


/**********************************************************************/
/* List of lessons */

#lessonslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#lessonslist > * {
    flex: 0 20%;
    min-width: 300px;
    background: white;
    margin: 2%;
}

#lessonslist .disabled {
    opacity: 0.5;
    pointer-events: none;
}

#lessonslist .finished {
    color: green;
}


/**********************************************************************/
/* Exercise view */

.sentence, #menus li {
    unicode-bidi: bidi-override;
}

.sentence {
    margin: 0.3em;
    padding: 0.3em 0.6em;
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    user-select: none;
    text-align: left;
}


/* The menu popup */

.popup {
    z-index: 50;
    position: absolute;
    max-height: 20ex;
    overflow: auto;
    background-color: hsl(0, 0%, 95%);
}

.popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup ul li {
    text-align: center;
    padding: .1em .4em;
}


/* Styling words and spaces */

.sentence { line-height: 1.5 }

/* the internal <span> in a whitespace is there to be able to break lines */
.space     span { display: none }
.invisible span { display: none }
.linebreak span { display: block }

/* clickables are above the overlay, and invisibles even higher up */
/* position must be relative (or absolute or fixed) for z-index to work */
.sentence span { z-index: 20; position: relative }
.invisible { z-index: 25 }

/* whitespace is shown using the pseudo-elements ::before and ::after */
/* position is relative to allow for moving symbols up/down */
/* we set display to inline-block to be able to specify the width */
.space::before, .invisible::before, .space::after, .invisible::after {
    display: inline-block;
    position: relative;
    text-align: center;
}

/* don't show indentation at the end of a sentence */
.indent:last-child::after { display: none }

/* neighbours to invisible tokens are not shown at all, except if clickable */
.invisible-neighbour { display: none }
.invisible-neighbour.clickable { display: unset } 

/* the widths of spaces, invisibles, linebreaks and indents */
.space::after, .invisible::after { width: 0 }
.space::before { width: 0.5em }
.invisible::before { width: 0.2em }
.invisible.clickable:hover::before, .invisible.striked::before { width: 0.5em }
.linebreak::before { width: 1.0em }

.indent0::after { width: 0.5em }
.indent1::after { width: 1.5em }
.indent2::after { width: 2.5em }
.indent3::after { width: 3.5em }
.indent4::after { width: 4.5em }
.indent5::after { width: 5.5em }

/* ordinary spaces and invisibles are shown using MIDDLE DOT */
.space::before { content: "·" } 
.invisible::before { content: "·" }

/* linebreaks are shown using a small LEFTWARDS ARROW WITH HOOK (slightly moved downwards) */
.space.linebreak::before { content: "↩"; font-size: 70%; bottom: -0.4ex }

/* indentation is shown using RIGHTWARDS ARROW FROM BAR */
/* except if there is no indentation, when we use MIDDLE DOT */
.space.indent::after { content: "↦" }
.space.indent.indent0::after { content: "·" }

/* replace the content with a small PLUS when hovering over it */
/* the same for selected elements */
.space.clickable:hover::before,     .space.striked::before, 
.invisible.clickable:hover::before, .invisible.striked::before,
.indent.clickable:hover::after,     .indent.striked::before {
    content: "+"; font-size: 70%; bottom: 0.4ex;
}

/* normal space is invisible */
/* clickable space is shown just a little */
/* and shown even more when hovered over (and selected) */
.space, .invisible { opacity: 0 }
.space.clickable, .invisible.clickable { opacity: 0.1 }
.space.clickable:hover, .space.striked  { opacity: 0.5 }
.invisible.clickable:hover, .invisible.striked { opacity: 0.5 }

/* grow clickables (and selected) when hovering over them */
/* also use smooth animation */
.clickable:hover, .striked { padding: 0 0.5em }
.word, .space { transition: padding 0.3s, width 0.3s }

/* todo for later */
.clickable.pad { padding: 0 0.2em; background-color: #efd }


/* Possible symbols to use:
\2190  ←  U+2190 "LEFTWARDS ARROW"
\2191  ↑  U+2191 "UPWARDS ARROW"
\2192  →  U+2192 "RIGHTWARDS ARROW"
\2193  ↓  U+2193 "DOWNWARDS ARROW"
\2194  ↔  U+2194 "LEFT RIGHT ARROW"
\21A4  ↤  U+21A4 "LEFTWARDS ARROW FROM BAR"
\21A6  ↦  U+21A6 "RIGHTWARDS ARROW FROM BAR"
\21E4  ↤  U+21E4 "LEFTWARDS ARROW TO BAR"
\21E5  ↦  U+21E5 "RIGHTWARDS ARROW TO BAR"
\21A9  ↩  U+21A9 "LEFTWARDS ARROW WITH HOOK"
\21AA  ↪  U+21AA "RIGHTWARDS ARROW WITH HOOK"
\23ce  ⏎  U+23CE "RETURN SYMBOL"
\2185  ↵  U+21B5 "DOWNWARDS ARROW WITH CORNER LEFTWARDS"
\2048  ⁋  U+204B "REVERSED PILCROW SIG"
\2022  •  U+2022 "BULLET"
\00B7  ·  U+00B7 "MIDDLE DOT"
\22C5  ⋅  U+22C5 "DOT OPERATOR"
\FE62  ﹢  U+FE62 "SMALL PLUS SIGN"
\2295  ⊕  U+2295 "CIRCLED PLUS"
\2297  ⊗  U+2297 "CIRCLED TIMES"
\2299  ⊙  U+2299 "CIRCLED DOT OPERATOR"
\2026  …  U+2026 "HORIZONTAL ELLIPSIS"
\00A0     U+00A0 "NO-BREAK SPACE"
\2020  †  U+2020 "DAGGER"
*/


/* Highlighting */

.match { padding: 0 5px }
#src .match { border-bottom: 2px solid }
#trg .match { border-top:    2px solid }

.greyed {
    color: grey;
}

.marked {
    /* color: red; */
    font-weight: bold;
}

.striked {
    text-decoration: line-through;
    font-weight: bolder;
    color: red;
}

/* currently unused, but supposed to be used for Blissymbolics in the future
.symbol { position: relative; display: inline-block }
.indicator { position: absolute; left: 0; top: 0 }
*/

.overlay {
    opacity:    0.1;
    background: black;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
}


/**********************************************************************/
/* Debugging */

sub.debug {
    font-size: 60%;
    color: grey;
}

/* used for debugging images (such as Blissymbolics):
.indicator { background-color:rgba(255,255,0,0.4) }
.symbol { background-color:rgba(255,0,255,0.2) }
.leftspace { background-color: #fff }
.rightspace { background-color: #ddd }
img { border: 1px dotted blue }
*/


/**********************************************************************/
/* Busy indicator */
/* CSS spinner, idea taken from: https://loading.io/css/ */

#busy-indicator {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 25%;
    margin: -26px; /* half the width/height */
    width: 52px; height: 52px; /* depends on the size of the circle below */
}

#busy-indicator:after {
    width: 32px; height: 32px;
    border: 10px solid;
    border-color: yellow blue red green;
    content: " ";
    display: block;
    border-radius: 50%;
    animation: busy-indicator 1.2s linear infinite;
}

@keyframes busy-indicator {
    0%   { transform: rotate(0deg);  }
    100% { transform: rotate(360deg);}
}


