
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 14pt;
}

html, body, main {
    background-color: #fed;
    margin: 0;
    padding: 0;
}

body, button, input, table, tr, td {
    font-size: inherit;
    font-weight: inherit;
}

section {
    max-width: 700px;
}

main, main header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Headings */

strong, h1, h2, h3, h4, th, thead td {
    font-weight: bolder;
}

h1, h2, h3, h4, section header {
    margin: 0.5em 0;
}

section header > * {
    margin: 0;
}


/* Form inputs, buttons, links, etc. */

input, button, .button, .sentence {
    background-color: white;
}

input, button, .button {
    margin: 0.3em;
    padding: 0.3em 1em;
    display: inline-block;
    text-decoration: none;
}

input, button, .button, .sentence, .popup, .score,
.swal-modal, .swal-button, #lessonslist > *
{
    border: 1px solid #aaa;
}

button, .button, .sentence, .popup, input,
.clickable, .word, button, label, .highlighted,
.swal-modal, .swal-button, #lessonslist > *
{
    border-radius: 10px;
}

a:hover {
    cursor: pointer;
    opacity: 0.7;
}

.clickable:hover, button:hover, label:hover {
    cursor: pointer;
    background-color: #eee;
    background-color: rgba(220,220,220,0.7);
}


/* Main headers and footers */

main > header nav > * {
    text-decoration: none;
    white-space: nowrap;
    margin-left: 0.5em;
}

main > header > *, main > header xxnav > * {
    line-height: 2;
}

main > header, main > footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main > header {
    margin-bottom: 2em;
}

main > footer {
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: bottom;
}

main > header .change-language a {
    margin: 0 0.1em;
}

main > header > *, main > footer > * {
    text-align: center;
    margin: 0 0.5em;
}

main > header > *:first-child, main > footer > *:first-child {
    text-align: left;
}

main > header > *:last-child, main > footer > *:last-child {
    text-align: right;
}


/* Hide checkboxes (currently not used) */

input[type=radio], input[type=checkbox] {
    display: none;
}

input:checked + label {
    color: black;
    font-weight: bolder;
}


/* Tables */

table {
    margin-left: auto; 
    margin-right: auto;
}

tr {
    vertical-align: center;
}

td, th {
    text-align: left;
}

form th {
    text-align: right;
}


/* Assorted elements */

hr {
    border: 1px solid black;
    width: 100%;
}

progress {
    width: 4em;
}

.vertical-separator {
    min-height: 1.5em;
}


/* List of lessons */

#lessonslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#lessonslist > * {
    flex: 0 20%;
    min-width: 300px;
    background: white;
    margin: 2%;
}

#lessonslist .disabled {
    opacity: 0.5;
    pointer-events: none;
}

#lessonslist .finished {
    color: green;
}


/* Exercise view */

.sentence, #menus li {
    unicode-bidi: bidi-override;
}

.sentence {
    margin: 0.3em;
    padding: 0.3em 0.6em;
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    user-select: none;
    text-align: left;
}

.clickable {
    z-index: 15;
    position: relative;
}

.popup {
    z-index: 20;
    position: absolute;
    max-height: 20ex;
    overflow: auto;
    background-color: hsl(0, 0%, 95%);
}

.popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup ul li {
    text-align: center;
    padding: .1em .4em;
}

.correct { background-color: #cfc }

.correct, .match {
    padding: 0 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.highlighted {
    background-color: #eee;
    background-color: rgba(220,220,220,0.3);
}

.greyed {
    color: grey;
}

.marked {
    /* color: red; */
    font-weight: bold;
}

.space {
    /* This is to ensure that spaces are clickable and that pop-up menus
    gets placed correctly.  `2ex` is an approximation for the
    line-height.  Ideally we'd use `lh` here, but it's experimental
    and has little support. */
    height: 2ex;
    min-width: 1em;
}

.linebreak::after {
    content: "";
    display: block;
}

.bind {}

.indent,
.indent1 { margin-left: 1em }
.indent2 { margin-left: 2em }
.indent3 { margin-left: 3em }
.indent4 { margin-left: 4em }
.indent5 { margin-left: 5em }

.spaceword {
    opacity: 0;
    /* font-size: 75%; */
}

.spaceword:hover {
    opacity: 0.3;
    /* font-size: 100%; */
}

.striked {
    text-decoration: line-through;
    font-weight: bolder;
    color: red;
}

img {
    vertical-align: middle;
}

.symbol { position: relative; display: inline-block }
.indicator { position: absolute; left: 0; top: 0 }

.overlay {
    opacity:    0.1;
    background: black;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
}


/* Debugging */

sub.debug {
    font-size: 60%;
    color: grey;
}

/* used for debugging images (such as Blissymbolics):
.indicator { background-color:rgba(255,255,0,0.4) }
.symbol { background-color:rgba(255,0,255,0.2) }
.leftspace { background-color: #fff }
.rightspace { background-color: #ddd }
img { border: 1px dotted blue }
*/


/* Busy indicator */
/* CSS spinner, idea taken from: https://loading.io/css/ */

#busy-indicator {
    z-index: 15;
    position: fixed;
    left: 50%;
    top: 25%;
    margin: -26px; /* half the width/height */
    width: 52px; height: 52px; /* depends on the size of the circle below */
}

#busy-indicator:after {
    width: 32px; height: 32px;
    border: 10px solid;
    border-color: yellow blue red green;
    content: " ";
    display: block;
    border-radius: 50%;
    animation: busy-indicator 1.2s linear infinite;
}

@keyframes busy-indicator {
    0%   { transform: rotate(0deg);  }
    100% { transform: rotate(360deg);}
}


/* Apparently, elements with "hidden" attribute are not always hidden:
   https://bugs.chromium.org/p/chromium/issues/detail?id=179220 
*/

[hidden] {
    display: none;
}

