
body, button, ul {
    padding: 0;
    margin: 0;
}

body, #body {
    background-color: #ccc;
    width: 100%;
    height: 100%;
} 

body, button, input, table, tr, td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 300;
    font-size: large; 
    border: 0;
}

#loginform td, input {
    padding: 5px 10px;
}

strong {
    font-weight: 700;
}

/* #loginpage, #lessonspage { */
/*     margin: 5% 20%; */
/* } */

h1 {
    text-align: center;
    margin: 5%;
    /* border: 1px green solid; */
}    

#loginform table, #lessonslist {
    margin: 5% auto;
    /* border: 1px green solid; */
}

/* #lessonslist td { */
/*     border: 1px red solid; */
/* } */

a {
    background-color: white;
    margin: 0.3em;
    padding: 0.3em 0.6em;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
}

.greyed a {
    background-color: #ddd;
}



button {
    background-color: transparent;
}

#container {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 25%;
    -moz-transform: translate(0,-25%); /* Mozilla */
    -ms-transform: translate(0,-25%); /* IE */
    -webkit-transform: translate(0,-25%); /* Chrome, Safari, Opera */
    transform: translate(0,-25%); /* Standard syntax */
}

.sentence {
    background-color: white;
    margin: 0.3em;
    padding: 0.3em 0.6em;
    display: inline-block;
    border-radius: 20px;
}

.vertical-separator {
    min-height: 1.5em;
}

input[type=radio], input[type=checkbox] {
    display: none;
}

#mainmenu li {
    border-bottom: 1px solid;
    border-left: 1px solid;
    list-style: none;
    padding: 0 0.2em 0.2em 0.2em;
    background-color: white;
}

.debug {
    display: none;
    font-size: 50%;
    color: grey;
}

#mainmenu label, #mainmenu button {
    font-size: 12pt; 
    padding: 0 0.4em;
    cursor: pointer;
}

input:checked + label {
    color: black; 
    font-weight: bolder;
}



#lessoncounter {
    padding: 5px 20px;
    position: fixed;
    left: 0; 
    top: 0;
}

#abortlesson, #logoutbutton {
    padding: 5px 20px;
    position: fixed;
    right: 0; 
    top: 0;
}

#score {
    padding: 5px 20px;
    position: fixed;
    left: 0; 
    bottom: 0;
}

#timer {
    padding: 5px 20px;
    position: fixed;
    right: 0; 
    bottom: 0;
}

#busy-indicator {
    position: fixed;
    left: 0; 
    top: 0;
    color: red;
}

#busy-indicator.idle {
    color: green;
}

#mainmenu {
    z-index: 5;
    display: none;
}

#mainmenu-toggler, #busy-indicator {
    z-index: 15;
    padding: 0 0.2em;
    font-size: 18pt;
}

#mainmenu-toggler, #mainmenu {
    padding: 5px 20px;
    position: fixed; 
    right: 0; 
    top: 0;
}

#menus ul {
    z-index: 10;
    position: absolute;
    max-height: 20ex;
    overflow: auto;
    list-style: none; 
    padding: 0; 
    margin: 0;
    border: 1px solid;
    background-color: #eee;
    background-color: rgba(220,220,220,0.7); 
    border-radius: 10px;
}

#menus ul li {
    text-align: center;
    padding: 0 0.4em;
}

.matching {
    background-color: #ddf;
}

.correct {
    background-color: #cfc;
}

.correct, .matching {
    border-radius: 10px;
    padding: 0 5px;
}

.highlighted {
    background-color: #eee;
    background-color: rgba(220,220,220,0.3); 
}

.greyed {
    color: grey;
}

.marked {
    /* color: red; */
    font-weight: bold;
}

.clickable, .word, button, label, .highlighted {
    border-radius: 10px;
}

.space {
    height: 5px;
}

.space.clickable:hover {
    padding: 0 10px;
}

.word.clickable:hover {
    padding: 0 10px;
}

.clickable:hover, button:hover, label:hover {
    cursor: pointer;
    background-color: #eee;
    background-color: rgba(220,220,220,0.7); 
    border-radius: 10px;
}

.striked {
    text-decoration: line-through;
    font-weight: bolder;
    color: red;
}

img {
    vertical-align: middle;
}

.symbol { position: relative; display: inline-block }
.indicator { position: absolute; left: 0; top: 0 }

/* used for debugging images (such as Blissymbolics):
.indicator { background-color:rgba(255,255,0,0.4) }
.symbol { background-color:rgba(255,0,255,0.2) }
.leftspace { background-color: #fff }
.rightspace { background-color: #ddd }
img { border: 1px dotted blue }
*/
